<div style="overflow: auto;">
    <li >
      <ul>
        <!-- <button size="small" (onclick)="setFocus('myAnchor')">Focus</button> -->
        <a id="myAncho" tabIndex="1" target="_blank" href="https://www.kenyamoja.com/tv/ntv-live"><img src="assets/index.jpg"/></a>
      </ul>
      <ul>
        <a  target="_blank" tabIndex="2" href="https://www.kenyamoja.com/tv/citizen-tv-live"><img src="assets/citizen.jpg"/></a>
      </ul>
      <ul>
        <a  target="_blank" tabIndex="3" href="https://www.kenyamoja.com/tv/kameme-tv-live"><img src="assets/kameme.jpg"/></a>
      </ul>
      <ul>
        <a target="_blank" tabIndex="4" href="https://www.kenyamoja.com/tv/k24-tv-live"><img src="assets/k24.jpg"/></a>
      </ul>
      <ul>
        <a target="_blank" tabIndex="5" href="https://www.kenyamoja.com/tv/kbc-live"><img src="assets/kbc.jpg"/></a>
      </ul>
      <ul>
        <a  target="_blank" tabIndex="6" href="https://www.kenyamoja.com/tv/inooro-tv-live"><img src="assets/inooro.jpg"/></a>
      </ul>
    </li>
    </div>

